name: DevOps Assignment CI

on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]

jobs:
    build-and-test:
        runs-on: ubuntu-latest

        steps:
            # Step 1: checkout the code
            - name: Checkout code
              uses: actions/checkout@v3

            # Step 2: Run the tests
            - name: Build and run docker compose
              run: docker compose up --build --exit-code-from tester

            # Test succeeded
            - name: Create success file
              if: success()
              run: echo "Tests Passed Successfully" > succeeded

            - name: Upload success artifact
              if: success()
              uses: actions/upload-artifact@v4
              with:
                name: test-result-success
                path: succeeded

            # Test failed
            - name: Create failure file
              if: failure()
              run: echo "Tests Failed" > fail

            - name: Upload fail artifact
              if: failure()
              uses: actions/upload-artifact@v4
              with:
                name: test-result-fail
                path: fail
